.interview-container {
  padding: 30px;
  margin-top: 50px;
}

.interview-box {
  background:#fff;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 20px rgba(0,0,0,.08);
}

textarea {
  width:100%;
  height:120px;
  padding:10px;
  border-radius:8px;
}

.controls button {
  margin-right:10px;
}

.report-box {
  padding:20px;
  background:#d9fdd3;
  border-radius:12px;
}
